<div class="login-wrapper">
    <form class="login">
        <section class="title">
            <h3 class="welcome">Bienvenido</h3>
            GLG ERP
            <h5 class="hint">Use su usuario y contraseña para acceder a sistema</h5>
        </section>
        <div class="login-group">
            <input class="username" type="text" id="login_username" placeholder="Usuario">
            <input class="password" type="password" id="login_password" placeholder="Password">
            <div class="checkbox">
                <input type="checkbox" id="rememberme">
                <label for="rememberme">
                Recordar
            </label>
            </div>
            <div class="error active" *ngIf="LoginInvalido">
                Usuario o contraeña incorrectos
            </div>
            <button (click)="Login()" type="button" class="btn btn-primary">Entrar</button>
        </div>
    </form>
</div>